@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Parisienne&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Parisienne', cursive;
  background-color: #faeee7;
}